main {
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    display: flex;
    margin-top: 36px;
}


.infoCard {
    aspect-ratio: 16/9;
    height: clamp(140px, 16vw, 200px);

    display: grid;
    grid-template-columns: 40px 1fr;

    border-radius: 5px;

    margin-left: 8px;
    margin-right: 8px;

    background: linear-gradient(135deg, rgba(0, 299, 217, 0.1), rgba(80, 36, 225, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(18, 18, 18, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.infoCard:hover {
    transition: all 0.3s ease;
    background: linear-gradient(135deg, rgba(0, 299, 217, 0.3), rgba(80, 36, 225, 0.2));
    transform: translate(-3px, -3px);
}

i {
    margin-top: 17px;
    margin-left: 17px;
    font-size: 24px;
    height: 30px;
    width: 30px;
    padding-top: 3px;
    text-align: center;
    border-radius: 5px;

    background: linear-gradient(135deg, rgba(80, 36, 225, 0), rgba(0, 299, 217, 0.1));
}

h2 {
    margin-top: 17px;
    margin-left: 17px;
}

p {
    grid-column: span 2 / span 2;
    text-align: center;
}

@media (max-width: 780px) {
    article {
        flex-direction: column;
    }

    .infoCard {

        margin-top: 8px;
        margin-bottom: 8px;

        height: 200px;
    }

}