@import url("main.css");

.signupForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field.full-width {
    grid-column: 1 / -1;
}

.signupForm>.button {
    grid-column: 1 / -1;
    justify-self: stretch;
    height: 50px;
    border-radius: 5px;
    color: var(--accentColor);
    font-size: 18px;
    margin-bottom: 25px;
    background: linear-gradient(135deg, rgba(0, 299, 217, 0.1), rgba(80, 36, 225, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(18, 18, 18, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.signupForm>.button:hover {
    transition: all 0.3s ease;
    background: linear-gradient(135deg, rgba(0, 299, 217, 0.3), rgba(80, 36, 225, 0.2));
    font-size: 20px;
}

.error-message {
    color: red;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bold;
    background: linear-gradient(135deg, rgba(225, 36, 36, 0.26), rgba(225, 36, 36, 0.089));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(18, 18, 18, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
}

.username {
    grid-column: 1 / -1;
    justify-self: stretch;
}

input {
    height: 25px;
    border-radius: 5px;
    padding-left: 5px;
}

textarea {
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    height: 100px;
}

p {
    margin-top: 16px;
    font-weight: 100;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    margin-bottom: 25px;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

.successText {
    font-size: clamp(2rem, 7vw, 6rem);
    color: #7ac142;
    margin-bottom: 25px;
}