@import url("reset.css");
@import url(variables.css);

body {
    font-family: var(--bodyFont);
    background: var(--bodyColor);
    /* height: 100vh; */
    color: var(--accentColor);
}

.navBar>ul {
    display: flex;
    justify-content: center;
}

.navBar>ul>li {
    margin: 0px 18px;
}

.navBar>ul>li>a {
    transition: all 0.3s ease;
}

.navBar>ul>li>a:hover {
    transition: all 0.3s ease;
    text-shadow: 0 0 10px rgba(0, 299, 217, 0.5);
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--accentColor);
    font-family: var(--bodyFont);
    font-size: 18px;
}

h1 {
    color: var(--accentColor);
    font-size: clamp(3rem, 12vw, 10rem);
    line-height: 1.02;
    font-family: var(--bodyFont);
}


main {
    min-height: auto;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroSection {
    height: 80vh;
}

.playButton {
    font-size: 32px;
    margin-top: 18px;
    padding: 10px 30px;
    border-radius: 100px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.playButton:hover {
    transition: all 0.3s ease;
    text-shadow: 0 0 10px rgba(0, 299, 217, 0.5);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.navBar {
    display: flex;
    justify-content: center;
    font-family: var(--headerFont);
    padding-top: 18px;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer>ul {
    display: flex;
    justify-content: center;
    font-family: var(--headerFont);
    padding-bottom: 18px;
}

footer>ul>li {
    margin: 0px 18px;
}

footer>ul>li>a:hover {
    transition: all 0.3s ease;
    text-shadow: 0 0 10px rgba(0, 299, 217, 0.5);
}

footer>ul>li>a:hover {
    transition: all 0.3s ease;
}

.glass {
    background: linear-gradient(135deg, rgba(0, 299, 217, 0.1), rgba(80, 36, 225, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(18, 18, 18, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.imprintSection {
    margin-left: 10px;
    margin-right: 10px;
}

.animationContainer {
    display: flex;
}