.slider {
    position: relative;
    margin-top: 200px;
    width: 800px;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 16px;
}

.slider___slide {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
}

.slider__slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__controls {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    padding: 0 16px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}