.slider {
    position: relative;
    margin-top: 50px;
    width: 800px;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 16px;
}

.slider___slide {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
}

.slider__slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__controls {
    margin-top: 18px;
    margin-bottom: 9px;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    border: 0;
    aspect-ratio: 16/9;
}

.fa-star {
    transition: all 0.3s ease;
}

.fa-star:hover {
    transition: all 0.3s ease;
    font-size: 42px;
    text-shadow: 0 0 10px rgba(0, 299, 217, 0.5);
}

.rateControls {
    padding-top: 9px;
    height: 50px;
    font-size: 36px;
}

/* @media (max-width: 450px) {
    .slider {
        aspect-ratio: 9/16;
    }

    iframe {
        aspect-ratio: 9/16;
    }
} */