@font-face {
    font-family: "Monsterrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "seoge-ui";
    src: url("https://use.typekit.net/pcw5ryu.css");
}

:root {
    --headerFont: "Monsterrat", sans-serif;
    --bodyFont: "segoe-ui", sans-serif;
    --bodyColor: #051C2C;
    --accentColor: #00E5D9;
}